{% extends 'register.html' %}

<!-- title for page -->
{% block title %}Flight Search{% endblock %}

<!-- add to head -->
{% block head %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css')}}">
    <!-- Calender CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}

<!-- content to add to layout -->
{% block content %}
    <div class="loading-container">
        <!-- loading screen -->
        <div class="loading">
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
        </div>

    </div>
<!-- SEARCH FORM-->
    <form class="form-container" method="POST">
        {{ form.hidden_tag() }}
        <div class="date-container">
            <p class="form-labels">Date:</p>
            {{ form.form_date(class='date form-control', value='01/25/2020') }}
        </div>
        <div class="origin-container">
            <p class="form-labels">From:</p>
            {{ form.form_origin(class='origin form-control', list='airports') }}
            <datalist id="airports">
                {% for i in range(length) %}
                <option value='{{ flight_symbols[i] }}'>{{ airports[i] }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="destination-container">
            <p class="form-labels">To:</p>
            {{ form.form_destination(class='destination form-control', list='airports2') }}
            <datalist id="airports2">
                {% for i in range(length) %}
                <option value='{{ flight_symbols[i] }}'>{{ airports[i] }}</option>
                {% endfor %}
            </datalist>
        </div>
        {{ form.submit(class='btn btn-outline-success search') }}
    </form>

    <!-- CALENDER JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
    $(function() {
        $('input[name="form_date"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'),10)
        });
    });
    setTimeout(function(){
        $('.loading-container').remove();
    }, 1000);
    </script>
{% endblock %}
